body {
    margin: 0px;
}

.banner {
    background-color: #02c3c9;
    padding: 25px;
    text-align: center;
}

.banner-separator {
    background-color: #7c18ba;
    height: 5px;
    text-align: center;
}

.link-bar-background {
    background-color: #7c18ba;
    height: 50px;
    width: 500px;
    margin: auto;
    transform: translateY(-23.75px);
    line-height: 50px;
    color: #f5f6f8;
    font-weight: 1000;
    font-family: Verdana, sans-serif;
}

.link-bar-background::before,
.link-bar-background::after {
  content: "";
  position: absolute; 
  width: 50px; /* Adjust the width of the semicircles */
  height: 50px; /* Adjust the height of the semicircles */
  background-color: #7c18ba; /* Set the background color of the semicircles */
  border-radius: 50%; /* Create a perfect circle */
}

.link-bar-background::before {
  left: -25px;
}

.link-bar-background::after {
  right: -25px;/
}

h1 {
    color: #ffffff;
    font-weight: 1000;
    font-family: "Nunito Sans", sans-serif;
}

h2 {
    font-family: Tahoma;
}

h3 {
    font-family: Verdana;
}

p {
    font-family: "Lucida Sans";
}